html,
body {
  background: linear-gradient(
    to right,
    rgba(187, 187, 187, 0.24),
    rgba(0, 0, 0, 0.24)
  );
  font-size: 16px;
  width: 100%;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: 300;
}
.preloader {
  position: fixed;
  inset: 0px;
  background-color: rgb(254, 254, 254);
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.loaded {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../images/preloading.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: -20px 0px 0px -20px;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
a,
button,
a span {
  transition: all 0.2s ease-in-out 0s;
}
.btn.extra-width {
  padding: 13px 40px;
}
.btn:focus,
.btn:active {
  outline: inherit;
}
*,
::before,
::after {
  box-sizing: border-box;
}
p {
  margin: 0px 0px 30px;
}
.clear {
  clear: both;
}
ol,
ul {
  list-style: none;
  padding: 0px;
}
img {
  max-width: 100%;
}
h1,
h2,
h3 {
  font-weight: 300;
  margin: 0px;
  color: rgb(255, 255, 255);
}
h4,
h5 {
  font-weight: 300;
  margin: 0px;
  line-height: 2rem;
  color: rgb(255, 253, 253);
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
}
h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 0.9rem;
}
h3 {
  font-weight: 300;
  margin-bottom: 0.9rem;
  font-size: 2.1rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.8rem;
}
h5 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
h6 {
  font-size: 1rem;
  margin-bottom: 0.9rem;
}
p {
  line-height: 1.5rem;
  font-size: 1.2rem;
}
p:last-child {
  margin-bottom: 0px;
}
.sections {
  background: rgb(5, 0, 47);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}
.sections2 {
  padding-top: 350px;
  padding-bottom: 350px;
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255);
}
.sections3 {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}
.sections4 {
  padding-top: 5px;
  position: relative;
  overflow: hidden;
}
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(255, 255, 255);
  background: rgb(3, 0, 32);
}
section .subtitle h5 {
  margin-top: 10px;
  font-size: 1.3rem;
  font-family: roboto, sans-serif;
}
.parallax-section {
  max-width: 100%;
  color: rgb(255, 255, 255);
}
section .title-half h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
  font-weight: 100;
  font-size: 17px;
}
.heading {
  margin-bottom: 4rem;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  overflow: hidden;
  min-height: 800px;
}
.overlay-fluid-block {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.home-overlay-fluid {
  background-color: rgba(41, 41, 41, 0.68);
  width: 80%;
  margin: auto;
}
.overlay-img {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(255, 255, 255);
}
.no-padding {
  padding: 0px !important;
}
.fluid-blocks-col {
  padding: 70px 40px 0px 80px;
}
.fluid-blocks-col-right {
  padding: 70px 80px 0px 40px;
}
.separator {
  height: 1px;
  width: 150px;
  margin: auto;
  background: rgb(245, 99, 99);
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(245, 99, 99);
  border-color: rgb(245, 99, 99);
}
.heading-content {
  margin-bottom: 2rem;
}
.heading-content h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Raleway Webfont";
  font-weight: 700;
  letter-spacing: 3px;
}
.btn-default,
.btn:visited {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 67, 212);
  border: 0px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
  padding: 10px 60px;
  font-size: 20px;
  transition: all 0.3s ease-in-out 0s;
}
.btn-default:active,
.btn-default:hover {
  background: rgb(57, 142, 212);
  color: rgb(255, 255, 255);
}
.home {
  background: url("../images/header-bg.jpg") center top / cover no-repeat fixed;
  width: 100%;
  overflow: hidden;
}
.home-wrapper {
  margin-top: 150px;
  color: rgb(255, 255, 255);
}
.home-content h1 {
  font-size: 65px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-family: "Raleway Webfont";
  letter-spacing: 12px;
  border-top: 2px solid rgb(236, 240, 242);
  border-bottom: 2px solid rgb(236, 240, 242);
  padding: 20px 0px;
}
.home-content p {
  font-size: 25px;
  margin-top: 20px;
  color: rgb(236, 240, 242);
}
.about-content {
  margin-top: 25%;
  color: white;
}
.about-content h4 {
  font-size: 22px;
  font-family: robotobold;
}
.about-content a {
  margin-top: 40px;
}
.experience {
  background: url("../images/programacion.jpg") center top / cover no-repeat
    fixed;
  width: 100%;
  overflow: hidden;
}
.experience-wrapper {
  margin-top: 30px;
}
.experience-content {
  background: rgba(47, 40, 146, 0.808);
  padding: 60px 40px;
  color: rgb(255, 255, 255);
}
.experience-content h4 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 26px;
  font-family: "Raleway Webfont";
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}
.experience-content .content-details h5 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.experience-content .content-details h6 {
  color: rgb(236, 240, 242);
  font-size: 16px;
}
.experience-content .content-details p {
  color: rgb(236, 240, 242);
}
.experience-content .content-details.content-border {
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.experience .container {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
#row-experience {
  width: 100%;
}
.portfolio-item {
  margin-bottom: 20px;
}
.portfolio-wrapper2 {
  margin: 25px;
}
.portfolio-wrapper2 .portfolio-item.width-img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  border: 2px solid white;
  box-shadow: rgb(0, 0, 0) 2px 2px 2px;
  border-radius: 4px;
}
.heading-content h4 {
  color: white;
}
#features {
  padding: 120px 0px;
}
.features-bg {
  color: rgb(255, 255, 255);
  border-radius: 16px;
  border: 2px solid white;
}
.features-item {
  padding-top: 84px;
}
.features-item i {
  font-size: 40px;
}
.features-item h6 {
  padding-top: 35px;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.features-item h6 a:hover {
  color: rgb(255, 43, 74);
}
.features-bg.github {
  background: rgb(98, 17, 156);
  transition: all 0.3s ease-in-out 0s;
}
.features-bg.github:hover {
  background: rgb(142, 28, 223);
}
.features-bg.linkedin {
  background: rgb(40, 10, 151);
  transition: all 0.3s ease-in-out 0s;
}
.features-bg.linkedin:hover {
  background: rgb(48, 111, 246);
}
.features-bg.instagram {
  background: rgb(151, 10, 80);
  transition: all 0.3s ease-in-out 0s;
}
.features-bg.instagram:hover {
  background: rgb(246, 48, 131);
}
#social-network {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.features-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
#bgnetwork {
  display: inline-block;
  float: left;
  width: 250px;
}
#test-div {
  width: 65%;
  float: left;
}
#test-div2 {
  display: inline-block;
  width: 30%;
  padding: 30px 0px 0px;
}
.contact-wrapper h4 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 26px;
  font-family: "Raleway Webfont";
  font-weight: 600;
  margin-bottom: 50px;
}
.contact-details-area {
  width: 480px;
}
.contact-details {
  background: rgba(47, 40, 146, 0.706);
  padding: 60px 40px;
  color: rgb(255, 255, 255);
}
.contact-details h4 {
  margin-bottom: 25px;
}
.contact-details p {
  margin: 0px 0px 10px;
  color: rgb(195, 190, 194);
}
.main-footer .social {
  margin-bottom: 10px;
}
.main-footer .social a {
  color: rgb(195, 190, 194);
  font-size: 15px;
}
.main-footer .social a:hover {
  color: rgb(43, 230, 255);
}
.main-footer .social a i {
  border-right: 1px solid rgb(195, 190, 194);
  padding: 0px 10px;
}
.main-footer .social a i.dribbble {
  border-right: 0px;
}
.main-footer p {
  color: rgb(195, 190, 194);
  font-size: 12px;
}
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 0px auto;
}
.cd-container::after {
  content: "";
  display: table;
  clear: both;
}
.no-js .home-main-content {
  height: auto;
  overflow: auto;
}
#cdddd-logo {
  width: 200px;
  display: block;
  margin: 0px auto;
}
.cd-menu-trigger {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 0px 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  border: 2px solid rgb(237, 237, 237);
}
